# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.env
venv/
env/

# Model (terlalu besar untuk git)
*.h5

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
